html {
	scroll-behavior: smooth;	
}

body {
	margin: 0;
	background-color: #000;
	color: #c2c2c2;
	font-family: 'Monda', sans-serif;
	font-size: 12pt;
	line-height: 22pt;
	overscroll-behavior: none;
	z-index: -1;
}

a {
	color: #b8cb0c;
	text-decoration: underline 1px dashed;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

a, button, input, select {
	pointer-events: auto;
}

.title {
	font-family: 'Monda', sans-serif;
	font-size: 26pt;
	color: #f2ed1f;
}

.title span {
	color: #ab5797;
}

hr {
	border: 0px none;
	border-top: 1px dashed #cb0c59;
}

h1 {
	color: #cb0c59;
	font-size: 26pt;
}

h3 {
	font-size: 18pt;
	color: #f2ed1f;
}

.numbers {
	font-family: 'Monda', sans-serif;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-shadow: 0px 0px 2px #000;
	margin-top: -40px;
	color: #a19f68;
}

.title_image {
	border-radius: 7px;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 14px;
	text-align: center;
	z-index: 10;
 }

#hardware_part, #software_part, #look_part {
	margin-top: 5%;
	font-size: 12pt;
	line-height: 22pt;
}

#info {
	top: 0px;
	width: 100%;
	padding: 10pt;
	padding-right: 40pt;
	box-sizing: border-box;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#intro {
	font-size: 14pt;
	line-height: 1.5em;
	color: #dad0c0;
	font-family: 'Inconsolata', monospace;
}

#intro a {
	text-decoration: underline 2px dashed;
	color:#cb0c59;
	font-weight: bold;
}

#pre_content {
	width: 80%;
	margin-left: 10%;
	margin-right: 30%;
	margin-top: 5vh;
	padding: 1%;
	z-index: 10;
	font-size: 42px;
}

#content {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 25vh;
	padding: 1%;
	z-index: 10;
	font-size: 42px;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}

.mfb-component__wrap .mfb-component__button--child, .mfb-component__wrap .mfb-component__button--main {
	background-color: #f2ed1f;
	color: #000;
}

.text-active {
	color: white;
}